::ng-deep {
    app-body:has(app-booking-details-form), app-body:has(app-checkout) {
        .top-bar {
            display: none;
        }
        .hero-overlay {
            top: 0 !important;
            background: var(--white) !important;
        }
        .nav-menu {
            display: none !important;
        }
        .main-nav {
            background: var(--primary-light-color) !important;
        }
    }
}