.hero-section {
    position: relative;
    display: flex;
    justify-content: center;

    .background-img {
        position: relative;
        display: contents;
    }
    
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .hero-content {
        position: absolute;
        top: 40%;
        color: #fff;
        text-align: center;
        z-index: 3;

        .main-title {
            font-size: 58px;
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 16px;
            font-family: "Roboto", sans-serif;
        }

        .sub-title {
            font-family: "Science Gothic", sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .sub-content {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
        }

        .buttons-section {
            margin-top: 20px;
        }
    }
}

// .btn-explore {
//     padding: 12px 28px;
//     border-radius: 25px;
//     border: none;
//     font-weight: 600;
//     font-size: 14px;
//     letter-spacing: 0.5px;
//     cursor: pointer;
//     transition: all 0.3s ease;
//     text-transform: uppercase;
//     min-width: 160px;
//     color: white;
//     background-color: #823cc1;
// }

.btn-explore {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 12px 28px;
    border: 3px solid #823cc1;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #823cc1;
    cursor: pointer;
}

.btn-explore::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background: linear-gradient(90deg,rgba(155, 42, 155, 1) 0%, rgba(186, 87, 199, 1) 50%, rgba(83, 109, 237, 1) 100%);
    border-radius: 25px;
    z-index: -1;
}

.btn-explore:hover, .btn-explore:focus {
    color: white;
}

.btn-explore:hover::before, .btn-explore:focus::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.btn-explore:active {
    transform: scale(0.9);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.4) 100%
    );
    z-index: 2;
}