<div class="home-hero-container">
    <div class="hero-section">
        <div class="background-img">
            <img src="assets/images/hero/hero-image-1.png">
            <div class="hero-overlay"></div>
        </div>
        
        <div class="hero-content">
            <h1 class="main-title">Plan Your Tour Today</h1>
            <p class="sub-title">"Discover Sri Lanka, Your Way – With HNG Ceylon Tours"</p>
            <p class="sub-content">Unforgettable landscapes, rich heritage, and authentic adventures await.</p>
            <div class="buttons-section">
                <button class="btn btn-explore" [routerLink]="'/tours'" type="button">Discover Tours</button>
            </div>
        </div>
    </div>
</div>
