<!-- <section class="features-section">
  <div class="container">
    <div class="features-grid">
      <div class="feature-card" *ngFor="let feature of features">
        <div class="feature-icon">
          <i class="icon" [ngClass]="'icon-' + feature.icon"></i>
        </div>
        <h3 class="feature-title">{{ feature.title }}</h3>
        <p class="feature-description">{{ feature.description }}</p>
      </div>
    </div>
  </div>
</section> -->

<section class="features-section">
  <div class="container">
    <div class="features-grid">
      <div class="card-wrap">
        <div class="card-header four">
          <i class="fa fa-location-arrow"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Handpicked Destination</h1>
          <p class="card-text">Our strict screening process means you\'re only seeing the best quality treks.</p>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header four">
          <i class="fa fa-book"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Best Price Guaranteed</h1>
          <p class="card-text">Our Best Price Guarantee means that you can be sure of booking at the best rate.</p>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header four">
          <i class="fa fa-headphones"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">24/7 Customer Service</h1>
          <p class="card-text">Our customer are standing by 24/7 to make your experience incredible.</p>
        </div>
      </div>
      <!-- <div class="card-wrap">
        <div class="card-header four">
          <i class="fab fa-js-square"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Title</h1>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <button class="card-btn four">js</button>
        </div>
      </div> -->
    </div>
  </div>
</section>


